@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  background: var(--bgColor);
} */

/* Utilities Classes */

.h1 {
  @apply text-blue-500 font-semibold mb-3;
}

.custom_btn {
  @apply border-blue-500 text-zinc-400 font-normal duration-300;
}

.container {
  @apply max-w-[1280px] mx-auto p-6;
}
